* {
    font-family: 'Inter', sans-serif !important;
}

:root .mud-dialog.mud-dialog-width-sm {
    border-radius: 20px !important;
}


.mud-button {
    border-radius: 20px !important;
}
.mud-dialog-container
{
    width:  100vw !important;
    height: 100vh !important;
}
.ql-snow .ql-tooltip.ql-flip {
    top: 50px !important;
    left: 100px !important;
    width: 100px;
}
.html-editor .ql-tooltip a {
    color: var(--mud-palette-secondary)
}
















.ql-editor li > .ql-ui {
    position: relative;
    display: inline-block;
    transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.ql-editor li[data-list=unchecked] > .ql-ui:before {
    content: '\2610';
    color: #4a4a6a;
    opacity: 0.8;
    font-size: 1.5em;
}

.ql-editor li[data-list=checked] > .ql-ui:before {
    content: '\2611';
    color: #4CAF50;
    font-size: 1.5em;
    animation: checkmark-mega-burst 0.7s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

@keyframes checkmark-mega-burst {
    0% {
        opacity: 0;
        transform: scale(0);
        text-shadow: 0 0 0 transparent;
/*        color: #2E7D32;
*/    }

    30% {
        transform: scale(1.7);
        text-shadow: 0 0 20px rgba(46, 125, 50, 0.7);
/*        color: #43A047;
*/    }

    45% {
        transform: scale(1.2);
        text-shadow: 0 0 30px rgba(216, 67, 21, 0.6);
/*        color: #E64A19;
*/    }

    60% {
        transform: scale(1.5);
        text-shadow: 0 0 40px rgba(25, 118, 210, 0.6);
/*        color: #1565C0;
*/    }

    80% {
        transform: scale(0.9);
        text-shadow: 0 0 25px rgba(123, 31, 162, 0.5);
/*        color: #6A1B9A;
*/    }

    100% {
        opacity: 1;
        transform: scale(1.3);
        text-shadow: 0 0 15px rgba(46, 125, 50, 0.3);
/*        color: #4CAF50;
*/    }
}

.ql-editor li[data-list=checked] {
    text-decoration: line-through;
    color: #e8d5b7;
    transition: all 0.5s ease;
}

.ql-editor li[data-list=checked]:hover {
        text-decoration: line-through;
        color: #a0a0a0;
}
















.loading-screen-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9); /* Optional: Add a background overlay */
    z-index: 10000;
}
.mud-layout {
    z-index: 1;
}

.mud-navmenu {
    z-index: 5;
}

.mud-navmenu {
    z-index: 5;
}

.loading-screen-stack {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.loading-screen-title {
    color: #FFB647;
    font: inherit;
    font-size: 76px;
    height: 45%;
    margin: 80px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 5.5em;
    line-height: 1.125;
    font-weight: 600;
    background-image: linear-gradient(275deg, #FFC700 0%, #FFFFFF 59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mud-progress-circular {
    position: absolute;
    color: white;
    z-index: 10;
    margin-top:25%;
}

.loading-text {
    color: #f0f0f0;
    font: inherit;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    animation: pulse 1.5s ease-in-out infinite alternate, fade-in 1s ease-in;
    opacity: 0.9;
    text-shadow: 0 0 10px rgba(255,255,255,0.3);
    height:50%;

}
#components-reconnect-modal h5
{
    color:white;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.7;
    }

    100% {
        transform: scale(1.05);
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 0.9;
        transform: translateY(0);
    }
}
@media (max-width: 960px) {
    .mud-sm-table .mud-table-row {
        display: table !important;
        margin-bottom: 20px;
        width:100vw;
        padding:5vw;
    }
    .mud-sm-table.mud-table-bordered .mud-table-container .mud-table-root colgroup ~ .mud-table-body .mud-table-row .mud-table-cell {
        border-right: hidden !important;
    }
    .mud-navmenu {
        height: auto !important;
    }
    .loading-screen-title {
        color: #FFB647;
        font: inherit;
        font-size: 76px;
        height: 45%;
        margin: 80px;
        text-align: center;
        color: #FFFFFF;
        font-family: 'Inter', sans-serif;
        font-size: 3.5em;
        line-height: 1.125;
        font-weight: 600;
        background-image: linear-gradient(275deg, #FFC700 0%, #FFFFFF 59%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}



/* Chats Dialog */
.chat-dialog {
    overflow: inherit !important;
}
.projects-chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #121212;
    transition: all 0.3s ease;
}

.projects-panel {
    width: 40vw;
    height: 60vh;
    border-radius: 12px;
    padding: 20px;
    background-color: #1E1E1E;
    color: #E0E0E0;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    overflow-y: auto;
    transition: all 0.3s ease;
    border: 1px solid #2C2C2C;
}

@media (max-width: 960px) {
    .projects-panel {
        width: 80vw !important;
    }
    .chat-popup {
        width: 80vw !important;
        padding: 0px 10px !important;
    }

    .container-for-toggles {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.projects-title {
    display: flex;
    align-items: center;
    color: #4DB6AC;
    margin-bottom: 15px;
    font-weight: 600;
}

.projects-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-item {
    background-color: #2A2A2A;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    border: 1px solid #3A3A3A;
}

    .project-item:hover {
        transform: translateX(10px);
        box-shadow: 0 6px 12px rgba(0,0,0,0.3);
        background-color: #333333;
    }

.project-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #E0E0E0;
}

.unread-badge {
    margin-left: 10px;
}

.no-projects-alert {
    margin-top: 20px;
}

/* Chats */

.chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #121212;
    transition: all 0.3s ease;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(1);
    }
}

.chat-panel {
    width: 40vw;
    height: 60vh;
    border-radius: 12px;
    background-color: #1E1E1E;
    color: #E0E0E0;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    border: 1px solid #2C2C2C;
    animation: fadeIn 0.5s ease-out;
}

@media (max-width: 960px) {
    .chat-panel {
        width: 70vw;
    }
    .chat-message:active + .message-hover-options,
    .message-hover-options:active {
        display: flex !important;
    }

}

.chat-header {
    background-color: #2A2A2A;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #3A3A3A;
    transition: all 0.3s ease;
}

.chat-header:hover {
    background-color: #333;
    animation: pulse 2s infinite;
}

.chat-title {
    color: #4DB6AC;
    display: flex;
    align-items: center;
}

.chat-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 15px;
    flex-grow: 1;
    overflow-y: auto; /* This enables vertical scrolling */
    padding: 15px;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #4DB6AC #2A2A2A; /* Thumb and track colors */
}

.chat-content::-webkit-scrollbar {
    width: 8px; /* Thin scrollbar for WebKit browsers */
}

.chat-content::-webkit-scrollbar-track {
    background: #2A2A2A; /* Dark track color */
}

.chat-content::-webkit-scrollbar-thumb {
    background-color: #4DB6AC; /* Teal-like color for the scrollbar */
    border-radius: 4px;
}

.chat-messages {
    display: flex;
    flex-direction: column;
}

.date-separator {
    color: #666;
    margin: 10px 0;
    text-align: center;
}

.message-username {
    color: #4DB6AC;
    margin-bottom: 5px;
}

.message-container {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: slideIn 0.4s ease-out forwards;
    animation-delay: calc(var(--delay) * 0.1s);
}
.message-hover-options {
    position: relative;
    background-color: #2A2A2A;
    display: none;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    z-index: 10;
    align-self: inherit;
    transition: all 0.3s ease;
}
.chat-message:hover + .message-hover-options,
.message-hover-options:hover {
    display: flex !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.message-left {
    align-items: flex-start;
}

.message-right {
    align-items: flex-end;
}

.chat-message {
    background-color: #2A2A2A;
    border-radius: 12px;
    padding: 10px 15px;
    max-width: 70%;
    word-wrap: break-word;
    transition: all 0.3s ease;
}

.message-right .chat-message {
    background-color: #3A3A3A;
}

.message-timestamp {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5px;
    color: #888;
}

.received-icon {
    margin-left: 5px;
    font-size: 1rem;
}

.chat-input-area {
    background-color: #2A2A2A;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 10px;
    border-top: 1px solid #3A3A3A;
    transition: all 0.3s ease;
}

.chat-input-area:focus-within {
    transform: scale(1.01);
    box-shadow: 0 0 10px rgba(77,182,172,0.3);
}



.special-link {
    transition: all 0.3s ease;
}

    .special-link:hover {
        color: #80CBC4;
        text-decoration: underline;
    }

.approval-warning {
    color: #FFC107;
    margin-bottom: 5px;
}

.special-link {
    color: #4DB6AC;
}

.not-approved-message {
    background-color: #4A2828; /* Deep dark red undertone */
    border: 2px solid #721414; /* More visible border */
    opacity: 0.8;
    position: relative;
}
.not-approved-message::before {
    content: "Pending Approval";
    position: relative;
    left: 100%;
    bottom: -90%;
    background-color: #721414;
    color: #fff;
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 0.7rem;
}









/* SaaS to CSS online */
.message-container:nth-child(50) {
  --delay: -20;
}

.message-container:nth-child(49) {
  --delay: -19;
}

.message-container:nth-child(48) {
  --delay: -18;
}

.message-container:nth-child(47) {
  --delay: -17;
}

.message-container:nth-child(46) {
  --delay: -16;
}

.message-container:nth-child(45) {
  --delay: -15;
}

.message-container:nth-child(44) {
  --delay: -14;
}

.message-container:nth-child(43) {
  --delay: -13;
}

.message-container:nth-child(42) {
  --delay: -12;
}

.message-container:nth-child(41) {
  --delay: -11;
}

.message-container:nth-child(40) {
  --delay: -10;
}

.message-container:nth-child(39) {
  --delay: -9;
}

.message-container:nth-child(38) {
  --delay: -8;
}

.message-container:nth-child(37) {
  --delay: -7;
}

.message-container:nth-child(36) {
  --delay: -6;
}

.message-container:nth-child(35) {
  --delay: -5;
}

.message-container:nth-child(34) {
  --delay: -4;
}

.message-container:nth-child(33) {
  --delay: -3;
}

.message-container:nth-child(32) {
  --delay: -2;
}

.message-container:nth-child(31) {
  --delay: -1;
}

.message-container:nth-child(30) {
  --delay: 0;
}

.message-container:nth-child(29) {
  --delay: 1;
}

.message-container:nth-child(28) {
  --delay: 2;
}

.message-container:nth-child(27) {
  --delay: 3;
}

.message-container:nth-child(26) {
  --delay: 4;
}

.message-container:nth-child(25) {
  --delay: 5;
}

.message-container:nth-child(24) {
  --delay: 6;
}

.message-container:nth-child(23) {
  --delay: 7;
}

.message-container:nth-child(22) {
  --delay: 8;
}

.message-container:nth-child(21) {
  --delay: 9;
}

.message-container:nth-child(20) {
  --delay: 10;
}

.message-container:nth-child(19) {
  --delay: 11;
}

.message-container:nth-child(18) {
  --delay: 12;
}

.message-container:nth-child(17) {
  --delay: 13;
}

.message-container:nth-child(16) {
  --delay: 14;
}

.message-container:nth-child(15) {
  --delay: 15;
}

.message-container:nth-child(14) {
  --delay: 16;
}

.message-container:nth-child(13) {
  --delay: 17;
}

.message-container:nth-child(12) {
  --delay: 18;
}

.message-container:nth-child(11) {
  --delay: 19;
}

.message-container:nth-child(10) {
  --delay: 20;
}

.message-container:nth-child(9) {
  --delay: 21;
}

.message-container:nth-child(8) {
  --delay: 22;
}

.message-container:nth-child(7) {
  --delay: 23;
}

.message-container:nth-child(6) {
  --delay: 24;
}

.message-container:nth-child(5) {
  --delay: 25;
}

.message-container:nth-child(4) {
  --delay: 26;
}

.message-container:nth-child(3) {
  --delay: 27;
}

.message-container:nth-child(2) {
  --delay: 28;
}

.message-container:nth-child(1) {
  --delay: 29;
}
/*@media(max-width: 960px) {

}

.chat-popup {
    width: 40vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.container-for-toggles {
    margin-left: 40px;
    margin-right: inherit;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: rgba(112,160,255,0.5);
    border-radius:20px;
    color: var(--mud-palette-white);
    margin: 0 -8px;
}

.message-username {
    font-weight: 600;
    margin-bottom: 4px;
    display: inline-block;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 0.75rem;
    color: #ffffff;*/ /* Slightly darker blue text */
    /*text-transform: capitalize;
    max-width: fit-content;
}
.chat-messages {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 10px;
    max-height: 100%;
    justify-content: flex-end;
}

.chat-message {
    padding: 8px 12px;
    border-radius: 14px;
    max-width: 70%;
    word-wrap: break-word;
    margin: 5px 0;
}

.chat-input-area {
    padding: 2px;
    border-radius: 9999px;
    flex-shrink: 0;
}

.message-right {
    align-self: flex-end;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.message-left {
    align-self: flex-start;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

.message-right .chat-message {
    background-color: #0e55a1;*/ /* Blue background for right-side */
    /*color: white;
}

.message-left .chat-message {
    background-color: white;*/ /* White background for left-side */
    /*color: black;
    border: 1px solid #ddd;*/ /* Optional border for left-side */
/*}
.not-approved-message {
    background-color: darkred !important;
    color:azure !important;
}
.mud-input-outlined-border {
    border-radius: 24px !important;
}

.date-section {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.date-section .mud-divider {
    margin: 0 20px;
}

.message-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
}

.message-options-indicator {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.message-container:hover .message-options-indicator {
    opacity: 1;
}


.special-link {
    color: #30abfc !important;
    text-decoration: none;
    transition: color 0.3s ease;
}
    .special-link:hover {
        color: #77c1f2 !important;
    }*/


/*.highlighted {
    animation: highlightAnimation 2s ease-in-out;
}

@keyframes highlightAnimation {
    0% {
        background-color: yellow;
    }

    100% {
        background-color: transparent;
    }
}*/