:root .mud-dialog.mud-dialog-width-sm {
    border-radius: 20px !important;
}
.mud-button {
    border-radius: 20px !important;
}

.ql-snow .ql-tooltip.ql-flip {
    top: 50px !important;
    left: 100px !important;
    width:100px;
}
.html-editor .ql-tooltip a {
    color: var(--mud-palette-secondary)
}
@media (max-width: 600px) {
    .mud-xs-table .mud-table-row {
        display: table !important;
        margin-bottom: 20px;
        width:100vw;
    }
    .mud-navmenu
    {
        height: auto !important;
    }
}


