################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net8.0
/.vs
/obj
/ProjectStatus.md
/LuminaryVisuals/bin/Debug/net8.0
/LuminaryVisuals/Documentation
/LuminaryVisuals/obj
/LuminaryVisuals/bin/Release/net8.0
/LuminaryVisuals/ProjectStatus.md
/LuminaryVisuals/bin
/LuminaryVisuals/cloc-2.02.exe
/Tizzani.MudBlazor.HtmlEditor/bin/Debug/net9.0
/Tizzani.MudBlazor.HtmlEditor/obj
