@inherits LayoutComponentBase
<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<CascadingValue Value="_drawerOpen">
    <MudLayout>
        <NavMenu @rendermode="InteractiveServer" />
        <MudMainContent Style="height:auto;   overflow-x: hidden; overflow-y: auto;">
            <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
            <MudContainer Class="" MaxWidth="MaxWidth.ExtraExtraLarge" >
            @Body
            </MudContainer>
            </MudHidden>
            <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
                    <h1> This is mobile</h1>
                    @Body
            </MudHidden>

        </MudMainContent>
        <script>
            function submitForm(formId) {
                document.getElementById(formId).submit();
            }
        </script>

    </MudLayout>
</CascadingValue>

@code {
    private bool _drawerOpen = false; // Default state
}