/*.responsive-paper {
    max-width: 100% !important;
    padding: 1rem !important;
    border-block-color:red;
    background-color:red;
}

@media (max-width: 600px) {
    .responsive-paper {
        width: 80vw !important;
    }
}
*/