@inherits LayoutComponentBase
@layout LuminaryVisuals.Components.Layout.MainLayout
@inject NavigationManager NavigationManager

@if (HttpContext is null && !IsInteractive)
{
    <p>Loading...</p>
}
else
{
    @Body
}

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private bool IsInteractive => HttpContext != null;

    protected override void OnParametersSet()
    {
        if (HttpContext is null && !IsInteractive)
        {
            // Only refresh if HttpContext is null in server rendering mode
            NavigationManager.Refresh(forceReload: true);
        }
    }
}
