@page "/"

<PageTitle>Home</PageTitle>

<MudText Color="Color.Default" Typo="Typo.h2" Class="mb-4">Welcome to <span style="color:peachpuff">Luminary Visuals</span></MudText>

<MudText Color="Color.Default" Typo="Typo.h3" Class="mb-4">Your New Project Managemnt App</MudText>
