@page "/"
@using LuminaryVisuals.Components.Layout
@layout GuestLayout
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
<PageTitle>Synchron</PageTitle>

<div class="d-flex justify-content-center align-items-center" style="width:inherit; height:inherit;justify-content:center;position: relative; overflow: hidden; color: white;">
    <video crossorigin="anonymous" playsinline muted loop id="synchron" style="position: absolute; min-width: 100%; min-height: 100%; width: auto; height: auto; z-index: -1;">
        <source src="https://synchron.luminaryvisuals.net/synchron.mov" type="video/mp4">
        <source src="synchronHVEC.mp4" type="video/mp4; codecs=hevc">
        <source src="synchron.mp4" type="video/mp4">
        <source src="Background4.mp4" type="video/mp4">
        <source src="~/Background4.mp4" type="video/mp4">

        Your browser does not support video.
  </video>
    <div class="text-center" style="width: inherit;height: inherit;justify-content: center;display: flex;flex-direction: column;flex-basis: inherit;
        align-content: space-between;align-items: center;">

        <img src="Logo.png" alt="Logo" class="mb-15 mt-20" style="width: 150px;" />
        <h4  style="font-size:3vw; ">Welcome to</h4>
        <h2 style="font-size: 5vw;">SYNCHRON</h2>
        <h5  style="font-size:2vw;">by Luminary Visuals.</h5>
        <MudNavLink  OnClick="@LoginClick" Class="my-10" Style="width:auto !important;">

        <form id="GoogleLoginForm" action="Account/PerformExternalLogin" method="post">
            <AntiforgeryToken />
            <input type="hidden" name="ReturnUrl" value="project" />
            <input type="hidden" name="provider" value="Google" />
                <img src="/web_light_rd_ctn.svg" alt="Continue with Google" style="width:fit-content; height:fit-content;">
        </form>
        </MudNavLink>

        <MudSpacer />

    </div>
</div>

@code
{


    private async Task LoginClick()
    {
        await JSRuntime.InvokeVoidAsync("submitForm", "GoogleLoginForm");
    }

}