<div class="loading-screen-container" style="z-index:10000;">
    <div class="loading-screen-stack">
        <div class="loading-screen-title">Operavue</div>
        <MudProgressCircular Class="mud-progress-circular" Indeterminate="true" Style="height:100px;width:100px;" />
        <div class="loading-text">Currently Loading...</div>
    </div>
</div>
