<MudField Class="ml-10 mr-10" Typo="Typo.body1" Variant="Variant.Outlined" >
    @if (!string.IsNullOrEmpty(Content))
    {
        @foreach (var part in StringHelper.GetTextAndLinks(Content))
        {
            if (StringHelper.IsLink(part))
            {
                <MudLink Href="@part" Target="_blank">@part</MudLink>
            }
            else
            {
                <span>@part</span>
            }
        }
    }
</MudField>

@code {
    [Parameter] public string Content { get; set; }
}
