@using MudBlazor
@inject ISnackbar Snackbar
<MudDialog>
    <DialogContent> 
        <MudHtmlEditor Html="@Description" HtmlChanged="OnNoteTextChanged" >
            <select class="ql-font">
                <option value="sans-serif"></option>
                <option value="serif"></option>
                <option value="monospace"></option>
            </select>
            <select class="ql-size">
                <option value="small"></option>
                <option selected></option>
                <option value="large"></option>
                <option value="huge"></option>
            </select>
            <MudHtmlToolbarOptions />
            <button class="ql-list" value="check"></button>
            <button class="ql-clean">Remove Formatting</button>    <!-- Removes formatting -->
        </MudHtmlEditor>
    </DialogContent>

    <DialogActions>
        <MudButton OnClick="@Cancel" Color="Color.Error" Variant="Variant.Filled" Size="Size.Large">Close</MudButton>
        <MudButton OnClick="@Save" Color="Color.Info" Variant="Variant.Filled" Size="Size.Large">Save</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance Dialog { get; set; }

    [Parameter] public string Description { get; set; }
    [Parameter] public EventCallback<string> NewDescription { get; set; }


    private void OnNoteTextChanged(string text)
    {
        Description = text;
    }
    private async Task Save()
    {
        await NewDescription.InvokeAsync(Description); // Pass the new description back
        Snackbar.Add($"Successfully saved the note.", Severity.Info);
        Dialog.Close(DialogResult.Ok(Description));
    }

    private void Cancel()
    {
        Dialog.Close(DialogResult.Cancel());
    }
}
