<MudDialog>
    <DialogContent>
        <MudHtmlEditor Html="@Text" HtmlChanged="OnNoteTextChanged">
            <select class="ql-font">
                <option value="sans-serif"></option>
                <option value="serif"></option>
                <option value="monospace"></option>
            </select>
            <select class="ql-size">
                <option value="small"></option>
                <option selected></option>
                <option value="large"></option>
                <option value="huge"></option>
            </select>
            <MudHtmlToolbarOptions />
            <button class="ql-list" value="check"></button>
            <button class="ql-clean">Remove Formatting</button>    <!-- Removes formatting -->
        </MudHtmlEditor>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@Cancel" Color="Color.Error" Variant="Variant.Filled" Size="Size.Large">Close</MudButton>
        <MudButton OnClick="@Save" Color="Color.Info" Variant="Variant.Filled" Size="Size.Large">Save</MudButton>
    </DialogActions>
</MudDialog>

@code{
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public string Text { get; set; } = "";
    [Parameter] public EventCallback<string> NoteTextChanged { get; set; }
    private bool success;
    private MudForm form;
    private DateTime _minDate = DateTime.Now.Date;
    private void OnNoteTextChanged(string text)
    {
        Text = text;
        NoteTextChanged.InvokeAsync(text);
    }
    private void Save()
    {
        MudDialog.Close(DialogResult.Ok(Text));
    }
    private void Cancel()
    {
        MudDialog.Cancel();
    }
}