<div class="loading-screen-container">
    <div class="loading-screen-stack">
        <div class="loading-screen-title">SYNCHORN</div>
        <video autoplay muted loop id="synchorn">
            <source src="synchorn.mp4" type="video/mp4">
        </video>
        <MudProgressCircular Class="mud-progress-circular" Indeterminate="true" Style="height:100px;width:100px;" />
        <div class="loading-text">Currently Loading...</div>
    </div>
</div>
